<div id="header">
  <div class="icon">
    <mat-icon svgIcon="pingfloyd"></mat-icon>
  </div>
  <app-title></app-title>
</div>
<mat-divider [inset]="false"></mat-divider>
<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" [(opened)]="opened" role="navigation">
    <div id="nav-list-container">
      <mat-nav-list>
        <a mat-list-item routerLink="/personal">Personal</a>
        <!-- <a mat-list-item routerLink="/professional">Professional</a> -->
        <a mat-list-item routerLink="/Black-Scholes">Black-Scholes</a>
        <a mat-list-item routerLink="/links">Links</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button color="primary" (click)="toggle_sidenav()">
      <mat-icon *ngIf="opened">chevron_left</mat-icon>
      <mat-icon *ngIf="!opened">chevron_right</mat-icon>
    </button>
    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
    <div class="small-pad">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
