
<div class="guy-container">
    <div [id]="'head-' + getRobotIndex()"  [ngStyle]="getHeadStyles()"></div>
    <div [id]="'body-' + getRobotIndex()"  [ngStyle]="getBodyStyles()"></div>
    <div [id]="'arm-r-' + getRobotIndex()" [ngStyle]="getRightArmStyles()"></div>
    <div [id]="'arm-l-' + getRobotIndex()" [ngStyle]="getLeftArmStyles()"></div>
    <div [id]="'leg-r-' + getRobotIndex()" [ngStyle]="getRightLegStyles()"></div>
    <div [id]="'leg-l-' + getRobotIndex()" [ngStyle]="getLeftLegStyles()"></div>
</div>
