<div class="container">
    <div class="link_container">
    <a href="http://github.com/pdkary" class="link">
        <img src="../assets/github_icon.png"/>
        <h1>@pdkary</h1>
    </a>
    </div>
    <div class="link_container">
    <a href="http://linkedin.com/in/pdkary" class="link">
        <img src="../assets/linkedin_icon.png"/>
        <h1>@pdkary</h1>
    </a>
    </div>
    <div class="link_container">
    <a href="http://twitter.com/parkskary" class="link">
        <img src="../assets/twitter_icon.png"/>
        <h1>@ParksKary</h1>
    </a>
    </div>
</div>
