.form-container {
    display: flex;
    margin-top:-3em;
    form {
        height:100%;
        width:100%;
        mat-grid-tile {
            display: flex;
            height:100%;
            width: 100%;
            mat-form-field{
                width:100%;
                height:100%;
                input {
                    width:100%;
                    height:100%;
                    display: flex;
                }
            }
            .datatable {
                width: 100%;
            }
            .checkbox_container{
                width: 100%;
                height:100%;
                mat-checkbox {
                    padding:0em 1em;
                }
            }
            .datepicker{
                margin-top:-.25em;
            }
            button {
                width:100%;
                height:100%;
            }
            .lil_bit_smaller{
                width:100%;
                height:80%;
                margin-top:-.75em;
            }
            .bs_desc {
                width:100%;
                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
                .equation{
                    width:100%;
                    img {
                        width:20em;
                        height:5em;
                        margin-left: auto;
                        margin-right:auto;
                    }
                }
                table {
                    border-collapse: collapse;
                    margin-left: auto;
                    margin-right: auto;
                    td,th {
                        border: 2px solid #f0f0f0;
                        border-radius: 1em;
                        padding: 1em;
                        img {
                            height:5em;
                            width:5em;
                        }
                        .bigger {
                            height:5;
                            width:12em;
                        }
                        .deriv {
                            height:3em;
                            width: 3em;
                        }
                        
                    }
                }
            }
        }
    }
}

::ng-deep .happy_snackbar {
    background-color: #1Dbc60 !important;
}
::ng-deep .sad_snackbar {
    background-color: #ef3d59 !important;
}