.form-container {
    display: flex;
    form {
        height:100%;
        width:100%;
        mat-grid-tile{
            display: flex;
            height:100%;
            width: 100%;
            mat-form-field{
                width:100%;
                height:100%;
                input {
                    width:100%;
                    height:100%;
                    display: flex;
                }
            }
            .datatable {
                width: 100%;
            }
            .checkbox_container{
                width: 100%;
                height:100%;
                mat-checkbox {
                    padding:0em 1em;
                }
            }
            .datepicker{
                margin-top:-.25em;
            }
            button {
                width:100%;
                height:100%;
            }
        }
    }
}