<div class="form-container">
  <form>
    <mat-grid-list cols="6" rowHeight="1em" gutterSize=".5em">
      <mat-grid-tile [colspan]="isMobile?2:5" rowspan="2" class="transparent">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="isMobile?4:1" rowspan="2">
        <button
          mat-stroked-button
          color="primary"
          matTooltip="Open the description panel"
          matTooltipPosition="above"
          (click)="toggle_description_panel()"
        >
          <mat-icon>help_outline</mat-icon>
          What am I looking at?
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" [rowspan]="isMobile?50:55" *ngIf="show_description_panel">
        <mat-card class="mat-elevation-z8 bs_desc">
            <p>
              The
              <b
                ><a
                  href="https://en.wikipedia.org/wiki/Black%E2%80%93Scholes_model"
                  >Black Scholes Model</a
                ></b
              >
              is a crazy exciting differential equation that looks like this
            </p>
            <div class="equation">
              <img
                src="https://wikimedia.org/api/rest_v1/media/math/render/svg/d85601f6192ee85748c2deef28240275510d634e"
              />
            </div>
            <p>
              Thanks to some incredible work by some genius mathematicians, we
              can estimate the value of put and call options, by solving this
              initial and terminal boundary problem.
            </p>
            <div class="equation">
              <img
                src="https://wikimedia.org/api/rest_v1/media/math/render/svg/d1f576effba2c7cabdebb78ac63fbb75b850a714"
              /><br /><br />
              <img
                src="https://wikimedia.org/api/rest_v1/media/math/render/svg/888c435dd73158c158a3217184eeed0675afb1f4"
              />
            </div>
            <p>
              Now these equations look complicated, (and they are!), however the
              beauty of the work these matehematicians have done is that I can
              tell my computer how to do it, and then forget about it. What a
              magical time to be alive! All I need is a few pieces of
              information about the option, and were off to the races. In the
              equations above, the variables are as follows:
            </p>
            <ul>
              <li>
                <img
                  src="https://wikimedia.org/api/rest_v1/media/math/render/svg/f684a5d524f20776dd9a95d95ac92e39d21e6a96"
                />
                The cumulative distribution function of the standard normal
                distribution
              </li>
              <li>
                <img
                  src="https://wikimedia.org/api/rest_v1/media/math/render/svg/af0e151c64b128c60e883adf3106b9bdb01abae1"
                />
                Time until expiration date (in years)
              </li>
              <li>
                <img
                  src="https://wikimedia.org/api/rest_v1/media/math/render/svg/7e2391e6e796fbf718be3828080775ac2ac3d3d4"
                />
                Spot price of the underlying asset
              </li>
              <li>
                <img
                  src="https://wikimedia.org/api/rest_v1/media/math/render/svg/2b76fce82a62ed5461908f0dc8f037de4e3686b0"
                />
                Strike price of the option
              </li>
              <li>
                <img
                  src="https://wikimedia.org/api/rest_v1/media/math/render/svg/0d1ecb613aa2984f0576f70f86650b7c2a132538"
                />
                Risk free rate (for non econ-people this just google 'T-bill
                rate right now')
              </li>
              <li>
                <img
                  src="https://wikimedia.org/api/rest_v1/media/math/render/svg/59f59b7c3e6fdb1d0365a494b81fb9a696138c36"
                />
                Volatility of the underlying asset
              </li>
            </ul>
            <br />
            <p>
              These formulas also provide means of calculating partial
              derivatives with repsect to other variables within the model.
              These are known as the <b>Option Greeks</b>
            </p>
            <table *ngIf="!isMobile">
                <tr>
                  <th>Name</th>
                  <th>Definition</th>
                  <th>Call Equation</th>
                  <th>Put Equation</th>
                </tr>
              <tr>
                <td>Delta</td>
                <td><img class="deriv" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/00a0565d85e69c498bbfbfb8cbe7033dcf33a741"/></td>
                <td><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/d1cedc26e4285747fd3ad1f61d1570c2e393027d"/></td>
                <td><img class="bigger" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/257b3b5ec44d5a4b49fce42adba0144e8491d2e7"/></td>
              </tr>
              <tr>
                <td>Gamma</td>
                <td><img class="deriv" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/b6a1d6f8e6a09a22b74227b3eca3c6a8e882938d"/></td>
                <td><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/14cda38924fbd712ef6ee8ed12c0fca140e02a24"/></td>
                <td><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/14cda38924fbd712ef6ee8ed12c0fca140e02a24"/></td>
              </tr>
              <tr>
                <td>Theta</td>
                <td><img class="deriv" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/84ec8a638d6cac6a3feab4ce649bb09bb3e04c58"/></td>
                <td><img class="bigger" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/83a81a924dbdfd3b35fc2600694e54328e88ce01"/></td>
                <td><img class="bigger" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/9f9dc128049b5764091b4ef89476f702c2f5ce2d"/></td>
              </tr>
              <tr>
                <td>Vega</td>
                <td><img class="deriv" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/30570566548b88333352784b6152e7a3afa34896"/></td>
                <td><img class="bigger" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/1f8e9ebef50ddfbd628045cf74ea31dbdd0b4d9f"/></td>
                <td><img class="bigger" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/9f9dc128049b5764091b4ef89476f702c2f5ce2d"/></td>
              </tr>
            </table>
            <p>
              <b>
                This website, is essentially a big ol Black-Scholes Calculator.
                You supply the stock tickers, a range of expiration dates, and
                an idea of the strike prices, and the calculator pulls stock
                data from yahoo finance, and performs BSM calculations over a
                large vector of option data.
              </b>
            </p>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="4">
        <mat-form-field
          matTooltip="Add tickers for the options you want to search"
          matTooltipPosition="above"
          appearance="outline"
        >
          <mat-label>Add Ticker</mat-label>
          <input
            matInput
            placeholder="GOOG"
            #tickerInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile
        [rowspan]="isMobile ? tickers.length / 3 + 3 : 2"
        [colspan]="6"
      >
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let tkr of tickers"
            [removable]="removable"
            (removed)="remove(tkr)"
          >
            {{ tkr }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile ? 3 : 1">
        <mat-form-field
          appearance="outline"
          matTooltip="Search for strike prices equal to spot, or shift by a fixed or relative amount"
          matTooltipPosition="above"
        >
          <mat-label>Search Mode</mat-label>
          <mat-select [(value)]="mode">
            <mat-option>None</mat-option>
            <mat-option value="0">At The Money</mat-option>
            <mat-option value="1">ATM plus X (absolute)</mat-option>
            <mat-option value="2">ATM plus X (relative %)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile ? 3 : 1">
        <mat-form-field appearance="outline">
          <mat-label>Shift-By</mat-label>
          <input
            matInput
            [(ngModel)]="shiftInput"
            [placeholder]="mode == 2 ? '.05' : '10'"
            [disabled]="mode == 0"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile ? 6 : 2">
        <mat-form-field
          appearance="outline"
          class="datepicker"
          matTooltip="The range of expiration dates for these options"
          matTooltipPosition="above"
        >
          <mat-label>Expiration Date Range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error
            *ngIf="range.controls.start.hasError('matStartDateInvalid')"
            >Invalid start date</mat-error
          >
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
            >Invalid end date</mat-error
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile ? 6 : 2">
        <button
          mat-stroked-button
          color="primary"
          (click)="pull_data()"
          matTooltip="GO GO GO GO GO!"
          matTooltipPosition="above"
        >
          <mat-icon>search</mat-icon>
          Search Options
        </button>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" [colspan]="isMobile ? 6 : 1">
        <button
          mat-stroked-button
          color="primary"
          (click)="toggle_column_editor()"
          matTooltip="Change the columns in the output table"
          matTooltipPosition="above"
        >
          <mat-icon>settings</mat-icon>
          Adjust Columns
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="isMobile ? 6 : 5"
        [rowspan]="isMobile ? 7 : 3"
        *ngIf="show_column_editor"
      >
        <div class="checkbox_container">
          <ng-container *ngFor="let column of displayedColumns; let i = index">
            <mat-checkbox
              (change)="toggle_column(i, $event)"
              [checked]="
                columnsToDisplay.includes(displayedColumns[i]) ? true : false
              "
              >{{ displayedColumns[i] }}
            </mat-checkbox>
          </ng-container>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        rowspan="2"
        matTooltip="Table of Call Options"
        matTooltipPosition="above"
      >
        <h1>CALLS</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" [rowspan]="call_table_rows">
        <mat-table
          #table
          [dataSource]="callDataSource"
          class="mat-elevation-z8 datatable"
        >
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

          <ng-container
            [matColumnDef]="column"
            *ngFor="let column of displayedColumns"
          >
            <mat-header-cell *matHeaderCellDef>{{
              column | uppercase
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
          </ng-container>
        </mat-table>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        [rowspan]="callDataSource.data.length > 0 ? 1 : 0"
      >
        <mat-paginator
          #callPaginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          (page)="handle_page_event($event, true)"
          [style.visibility]="bsmElements.length > 0 ? 'visible' : 'hidden'"
        ></mat-paginator>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        rowspan="2"
        matTooltip="Table of Put Options"
        matTooltipPosition="above"
      >
        <h1>PUTS</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" [rowspan]="put_table_rows">
        <mat-table
          #table
          [dataSource]="putDataSource"
          class="mat-elevation-z8 datatable"
        >
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

          <ng-container
            [matColumnDef]="column"
            *ngFor="let column of displayedColumns"
          >
            <mat-header-cell *matHeaderCellDef>{{
              column | uppercase
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
          </ng-container>
        </mat-table>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        [rowspan]="putDataSource.data.length > 0 ? 1 : 0"
      >
        <mat-paginator
          #putPaginator
          [pageSizeOptions]="[5, 10, 20]"
          (page)="handle_page_event($event, false)"
          [style.visibility]="bsmElements.length > 0 ? 'visible' : 'hidden'"
          showFirstLastButtons
        ></mat-paginator>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
