<div class="form-container">
  <form>
    <mat-grid-list cols="6" rowHeight="1em" gutterSize=".5em">
      <mat-grid-tile colspan="6" rowspan="4">
        <mat-form-field appearance="outline">
          <mat-label>Add Ticker</mat-label>
          <input
            matInput
            placeholder="GOOG"
            #tickerInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile
        [rowspan]="isMobile ? tickers.length / 3 + 3 : 2"
        [colspan]="6"
      >
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let tkr of tickers"
            [removable]="removable"
            (removed)="remove(tkr)"
          >
            {{ tkr }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile ? 3 : 1">
        <mat-form-field appearance="outline">
          <mat-label>Search Mode</mat-label>
          <mat-select [(value)]="mode">
            <mat-option>None</mat-option>
            <mat-option value="0">At The Money</mat-option>
            <mat-option value="1">ATM plus X (absolute)</mat-option>
            <mat-option value="2">ATM plus X (relative %)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile ? 3 : 1">
        <mat-form-field appearance="outline">
          <mat-label>Shift-By</mat-label>
          <input
            matInput
            [(ngModel)]="shiftInput"
            [placeholder]="mode == 2 ? '.05' : '10'"
            [disabled]="mode == 0"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile ? 6 : 2">
        <mat-form-field appearance="outline" class="datepicker">
          <mat-label>Expiration Date Range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error
            *ngIf="range.controls.start.hasError('matStartDateInvalid')"
            >Invalid start date</mat-error
          >
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
            >Invalid end date</mat-error
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile rowspan="3" [colspan]="isMobile?6:2">
        <button mat-stroked-button color="primary" (click)="pull_data()">
          <mat-icon>search</mat-icon>
          Search Options
        </button>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" [colspan]="isMobile ? 6 : 1">
        <button mat-stroked-button color="primary" (click)="toggle_column_editor()">
          <mat-icon>settings</mat-icon>
          Adjust Columns
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="isMobile ? 6 : 5"
        [rowspan]="isMobile ? 7 : 3"
        *ngIf="show_column_editor"
      >
        <div class="checkbox_container">
          <ng-container *ngFor="let column of displayedColumns; let i = index">
            <mat-checkbox
              (change)="toggle_column(i, $event)"
              [checked]="columnsToDisplay.includes(displayedColumns[i])?true:false"
              >{{ displayedColumns[i] }}
            </mat-checkbox>
          </ng-container>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2">
        <h1>CALLS</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" [rowspan]="call_table_rows">
        <mat-table
          #table
          [dataSource]="callDataSource"
          class="mat-elevation-z8 datatable"
        >
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

          <ng-container
            [matColumnDef]="column"
            *ngFor="let column of displayedColumns"
          >
            <mat-header-cell *matHeaderCellDef>{{
              column | uppercase
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
          </ng-container>
        </mat-table>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        [rowspan]="callDataSource.data.length > 0 ? 1 : 0"
      >
        <mat-paginator
          #callPaginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          (page)="handle_page_event($event, true)"
          [style.visibility]="bsmElements.length > 0 ? 'visible' : 'hidden'"
        ></mat-paginator>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2">
        <h1>PUTS</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" [rowspan]="put_table_rows">
        <mat-table
          #table
          [dataSource]="putDataSource"
          class="mat-elevation-z8 datatable"
        >
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

          <ng-container
            [matColumnDef]="column"
            *ngFor="let column of displayedColumns"
          >
            <mat-header-cell *matHeaderCellDef>{{
              column | uppercase
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
          </ng-container>
        </mat-table>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        [rowspan]="putDataSource.data.length > 0 ? 1 : 0"
      >
        <mat-paginator
          #putPaginator
          [pageSizeOptions]="[5, 10, 20]"
          (page)="handle_page_event($event, false)"
          [style.visibility]="bsmElements.length > 0 ? 'visible' : 'hidden'"
          showFirstLastButtons
        ></mat-paginator>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
